<section class="hero is-fullheight is-light-grey is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-4">
          <div id="material" class="login-form-wrapper">
              <!-- Material login form -->
              <div id="material-login-form" class="animated preFadeInLeft fadeInLeft">
                  <div class="flex-card auth-card is-light-raised light-bordered card-overflow">
                      <div class="auth-card-header header-secondary">
                          <span class="tagged-name">mkt Kim</span>
                      </div>
                      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= render partial: 'devise/shared/error_messages', resource: resource %>
                      <div class="control-material is-secondary">
                          <input class="material-input" type="text" required="" name="user[nickname]">
                          <span class="material-highlight"></span>
                          <span class="bar"></span>
                          <label>이름</label>
                      </div>
                      <div class="control-material is-secondary">
                          <input class="material-input" type="text" required="" name="user[phone]">
                          <span class="material-highlight"></span>
                          <span class="bar"></span>
                          <label>전화번호</label>
                      </div>
                      <div class="control-material is-secondary">
                          <input class="material-input" type="password" required="" name="user[password]">
                          <span class="material-highlight"></span>
                          <span class="bar"></span>
                          <label>비밀번호</label>
                      </div>
                      <div class="control-material is-secondary">
                          <input class="material-input" type="text" required="" name="user[email]">
                          <span class="material-highlight"></span>
                          <span class="bar"></span>
                          <label>이메일(생략 가능)</label>
                      </div>
                      <p class="has-text-left mt-30">
                          <%= link_to "이미 계정이 있나요?", new_user_session_path, class: 'no-account is-secondary' %>
                      </p>
                      <div class="mt-20">
                          <%= f.submit "회원가입", class: 'button button-cta btn-align secondary-btn is-fullwidth btn-outlined is-bold rounded raised no-lh' %>
                      </div>
                      <% end %>
                      <div class="mt-20">
                        <%#= button_to '페이스북 로그인', user_facebook_omniauth_authorize_path, class: "button button-cta btn-align secondary-btn is-fullwidth btn-outlined is-bold rounded raised no-lh" %>
                      </div>
                  </div>

              </div>
              <!-- /Material login form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
