<% content_for :title, "user | PETNER" %>

<div class="main" style="padding: 20px 10px 0px 10px;">
  <div class="ui">
    <h1 class="ui teal image header">users</h1>
    <span class="ui" style="float: right;">
      <%= link_to 'user 추가', new_user_path, class: "ui button" %>
    </span>
  </div>

  <%= render 'filter', counts: @counts %>

  <%= render 'users', users: @users %>

  <%= paginate @users %>

</div>
