<div class="main ui container">
  <table class="ui purple table">
    <thead>
      <tr>
        <th>ID</th>
        <th>이름</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
